/* GLOBAL STYLES */
* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

/* COLOR SWATCHES */
:root {
    --dark-blue: hsl(233, 47%, 7%);
    --desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);
    --white: hsl(0, 0%, 100%);
    --paragraph-white: hsla(0, 0%, 100%, 0.75);
    --headings-white:hsla(0, 0%, 100%, 0.6);
}

/* GENERAL */
body {
    background-color: var(--dark-blue);
}

.card {
    display: grid;
    grid-template-columns: 1fr;
}

.cover-image {
    background-image: url("design/mobile-design.jpg");
    background-size: cover;
    height: 300px;
}